<div class="sidebar">
  <div class="header">
    <i class="fas fa-bars"></i>
    <span>Uber Driver</span>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/driver/home" id="Home" class="active"
          ><i class="fas fa-home"></i> Home</a
        >
      </li>
      <li>
        <a href="/driver/rides" id="Rides"><i class="fas fa-car"></i> Rides</a>
      </li>
      <li>
        <a href="/driver/payments" id="Payments"
          ><i class="fas fa-wallet"></i> Payments</a
        >
      </li>
      <li>
        <a href="/driver/history" id="History"
          ><i class="fas fa-history"></i> History</a
        >
      </li>
      <li>
        <a href="/driver/notifications" id="notifications"
          ><i class="fas fa-bell"></i> notifications</a
        >
      </li>
      
      <li>
        <a href="/driver/settings" id="Settings"
          ><i class="fas fa-cog"></i> Settings</a
        >
      </li>
    </ul>
  </nav>
  <div class="profile">
    <img src="https://placehold.co/40x40" alt="User profile picture" />
    <div>
      <p>John Driver</p>
      <p class="status">Online</p>
    </div>
  </div>
</div>
