<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/sample.css" />

    <style>
      #confirm-otp {
        display: none;
      }

      #set-password {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <img src="source/Uber_logo.png" alt="Uber Logo" />
      </div>
      <div class="container">
        <div class="login-box">
          <fieldset>
            <form id="loginForm" method="post">
              <br />
              <div id="sent-otp">
                <h2>What's your email?</h2>
                <input
                  type="text"
                  name="email"
                  id="email"
                  placeholder="Enter email"
                />
                <input type="button" id="btnContinue" value="Continue" />
              </div>
              <br />
              <div id="confirm-otp">
                <h2>What's your OTP?</h2>
                <input
                  type="text"
                  name="otp"
                  id="otp"
                  placeholder="Enter OTP"
                />
                <input type="button" id="btnOtp" value="Confirm OTP" />
              </div>
              <div id="set-password">
                <h2>Set New Password</h2>
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Enter password"
                /><br />
                <input
                  type="password"
                  name="Cpassword"
                  id="Cpassword"
                  placeholder="Enter Confirm password"
                /><br />
                <input type="button" value="Set Password" id="setPwd" />
              </div>
              <p>
                By proceeding, you consent to receiving calls, WhatsApp or
                SMS/RCS messages, including by automated means, from Uber and
                its affiliates to the number provided.
              </p>
            </form>
          </fieldset>
        </div>
      </div>
    </div>

    <script>
      const btnContinue = document.getElementById("btnContinue");
      btnContinue.addEventListener("click", async () => {
        const data = {
          email: document.getElementById("email").value,
        };

        const responsetxt = await fetch(`/uber/api/forgot-password`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        });

        const response = await responsetxt.json();
        localStorage.setItem("fp-data", JSON.stringify(response.data));

        const otpDiv = document.getElementById("confirm-otp");
        otpDiv.style.display = "block";

        const sentDiv = document.getElementById("sent-otp");
        sentDiv.style.display = "none";
      });

      const btnOtp = document.getElementById("btnOtp");
      btnOtp.addEventListener("click", async () => {
        const data = localStorage.getItem("fp-data");
        const otp = JSON.parse(data).otp;

        const userOtp = document.getElementById("otp").value;

        if (otp == userOtp) {
          const setPassword = document.getElementById("set-password");
          setPassword.style.display = "block";
          const otpDiv = document.getElementById("confirm-otp");
          otpDiv.style.display = "none";
        } else {
          alert("Wrong OTP");
        }
      });

      const setPwd = document.getElementById("setPwd")
      setPwd.addEventListener("click",async () => {
        const data = localStorage.getItem("fp-data");
        const mail = JSON.parse(data).userEmail;

        const flag = {
          email: mail,
          password : document.getElementById("password").value
        };
        const responsetxt = await fetch(`/uber/api/update-password`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(flag),
        });

        const response = await responsetxt.json();

        if(response.status = 200){
          window.location.href="/login"
        }
      })
    </script>
  </body>
</html>