<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Varification</title>
    <link rel="stylesheet" href="/css/otpVarification.css">
</head>

<body>
    <div class="nav">
       <img src="/source/Uber_logo.png" alt="">
    </div>
    <div id="main">
        <div class="box">
            <p>enter OTP sent to your email</p>
            <div id="inputBox">
                <input class="input" type="text" inputmode="numeric" maxlength="1">
                <input class="input" type="text" inputmode="numeric" maxlength="1">
                <input class="input" type="text" inputmode="numeric" maxlength="1">
                <input class="input" type="text" inputmode="numeric" maxlength="1">
                <input class="input" type="text" inputmode="numeric" maxlength="1">
                <input class="input" type="text" inputmode="numeric" maxlength="1">
            </div>
            <p id="msg"></p>
            <button id="verify">verify OTP</button>
        </div>
    </div>
    <script src="/js/otpVarification.js"></script>
</body>
</html>