<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div class="nav">
        <img src="/source/Uber_logo.png" alt="">
    </div>
    <div id="main">
        <div class="box">
            <div class="header-box">
                <p>Sign up for uber</p>
            </div>
            <div class="content-box">
                <input type="text" id="email" name="email" placeholder="Enter your email">
                <p id="msg"></p>
                <button id="signupBtn">Sign up</button>
                <h4><img src="/source/google.png" alt="">Continue with google</h4>
            </div>
            <a href="/login">Already have an account ? Login</a>
        </div>
    </div>
    <script src="/js/signup.js"></script>
</body>
</html>