body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  * {
    box-sizing: border-box;
  }
  .sidebar {
    background-color: #f9fafb;
    width: 14%;
    padding: 20px;
    position: fixed;
    height: 100%;
  }
  .sidebar .header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  .sidebar .header i {
    color: #6b7280;
    margin-right: 10px;
  }
  .sidebar .header span {
    font-size: 20px;
    font-weight: bold;
  }
  .sidebar nav ul {
    list-style: none;
    padding: 0;
  }
  .sidebar nav ul li {
    margin-bottom: 20px;
  }
  .sidebar nav ul li a {
    display: flex;
    align-items: center;
    color: #374151;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
  }
  .sidebar nav ul li a:hover,
  .sidebar nav ul li a.active {
    background-color: #e0f2fe;
    color: #000000;
  }
  .sidebar nav ul li a i {
    margin-right: 10px;
  }
  .sidebar .profile {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .sidebar .profile img {
    border-radius: 50%;
    margin-right: 10px;
  }
  .sidebar .profile p {
    margin: 0;
  }
  .sidebar .profile .status {
    color: #10b981;
  }
  .dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    margin-left: 107px;
    margin-top: -39px;
    width: 163px;
  }
  
  .dropdown a {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
  }
  
  .dropdown a:hover {
    background-color: #f0f0f0;
  }
  
  .show {
    display: block;
  }
  .main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }
  .profile-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 50%;
  }
  .header {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -1%;
  }
  .sub-header {
    font-size: 20px;
    font-weight: bold;
  }
  
  .div1 {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 16px;
  }

  .div2 {
    display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: start;
  align-items: flex-start;
  gap: 8px;
  }

  #content {
    margin: 0;
    max-width: 100%;
  }
  
  .sub-text {
    font-size: 20px;
    margin-top: -2%;
    color: #424141;
  }
  
  .card-content {
    display: grid;
    gap: 16px;
    grid-auto-flow: row;
    grid-template-columns: repeat(6, minmax(auto, 50vw));
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .card-div {
    border-width: 2px;
    border-style: solid;
    border-color: #F3F3F3;
    border-radius: 12px;
    background-color: #FFFFFF;
    overflow: hidden;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 249px;
  }

  button{
    border-radius: 20px;
  border: none;
  padding: 5%;
  font-size: 16px;
  cursor: pointer;
  }