*{
    padding: 0;
    margin: 0;
}

.otherContent {
    margin-left: 290px;
    padding: 20px;
    width: calc(100% - 330px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.otherContent #heading{
    padding: 20px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
}

.otherContent #heading h2{
    color: grey;
    cursor: pointer;
    padding: 10px;
    border-bottom: 2px solid grey;
}

.otherContent #heading h2:hover{
    color: black;
    border-bottom: 3px solid black;
}

.otherContent #profile-image{
    padding: 20px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.otherContent #profile-image img{
    padding: 1px;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
}

.otherContent #profile-image input{
    display: none;
}

.otherContent #profile-image label{
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid rgb(172, 171, 171);
    border-radius: 10px;
    font-size: 16px;
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.otherContent #profile-image label:hover{
    color: white;
    background-color: black;
}

#section2{
    padding: 20px;
    width: calc(50% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section2 h2{
    text-align: center;
    padding: 5px;
    width: calc(100% - 10px);
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

#section2 #account_details{
    padding: 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

#section2 #account_details .inputFildes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#section2 #account_details .inputFildes label{
    padding: 10px;
    font-size: 16px;
    font-weight: bolder;
}

#section2 #account_details .inputFildes input{
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(172, 171, 171);
    outline: none;
}

#section2 #account_details .inputFildes .docs{
    padding: 10px;
    color: blue;
}

#section2 #account_details .inputFildes .docs:hover{
    text-decoration: underline;
    color: darkblue;
    cursor: pointer;
}

#section2 button{
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: all .2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#section2 button:hover{
    padding: 5px 10px;
    background-color: black;
    color: white;
    padding: 5px 15px;
}