.driver-dashboard-body{
    margin-left: 290px;
    padding: 20px;
    width: calc(100vw - 330px);
    height: calc(100% - 40px);
    background-color: white;
}

.driver-dashboard-body h2{
    padding: 10px;
    width: calc(100% - 20px);
    margin: 0;
}

.driver-dashboard-body .drive-dash-mainBox{
    border: 1px solid black;
    padding: 20px;
    width: calc(100% - 42px);
    height: calc(100% - 86px);
}

.driver-status{
  padding: 10px;
  width: calc(100% - 20px);
  display: flex;
  gap: 10px;
  align-items: center;
}

.driver-status span{
  font-size: 22px;
  font-weight: bold;
}

  .toggle{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .toggle input{
    display: none;
  }

  .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right :0;
    bottom: 0;
    background-color: red;
    transition : 0.4s;
    border-radius: 34px;
  }

  .slider::before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked + .slider{
    background-color: #060;
  }

  input:checked + .slider::before{
    transform: translateX(26px);
  }