* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* ..............main............. */

.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
}

.main-content h4 {
    margin: 30px 0 30px 0;
}