.tabs{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.tab{
    border: none;
    background-color: transparent;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;

}

.active-user{
    font-weight: 700;
    border-bottom: 2px solid black;
}

.driver-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.driver-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
}

.profile-img-container{
    height: 65px;
    width: 100%;
    background-color: black;
    position: relative;
}
.proflie-img {
    position: absolute;
    top: 20%;
    right: 40%;
    width: 100px;
    height: auto;
    border-radius: 100%;
    border: 5px solid white;
}

#modalDetails {
    margin-top: 20px;
}

#modalTitle{
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-align: center;
}

#modalDetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
}